@model IList<CloudCityCakeCo.Models.ViewModels.CakeOrderViewModel>

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<h2>Customer Orders</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Customer Name</th>
        <th>Number</th>
        <th>Email</th>
        <th>User Id</th>
        <th>Order Date</th>
        <th>Completed Date</th>
        <th>Order Status</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>

    @if (Model != null)
    {
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserName</td>
                <td>@order.PhoneNumber</td>
                <td>@order.Email</td>
                <td>@order.UserId</td>
                <td>@order.OrderDate</td>
                <td>@order.CompletedDate</td>
                <td>@order.OrderStatus</td>
                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Admin" asp-action="Update" asp-route-id="@order.Id">update</a>
                </td>
            </tr>
        }
    }

    </tbody>
</table>